html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.balloon {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  filter: blur(40px);
  animation: 9s linear 0s infinite normal forwards running floatOne;
}

.balloon-1 {
  top: 90px;
  left: -105px;
  width: 650px;
  height: 650px;
  background: rgba(89, 94, 255, 0.133);
}

.balloon-2 {
  top: 710px;
  left: -120px;
  width: 500px;
  height: 500px;
  background: rgba(206, 94, 145, 0.133);
}

.balloon-3 {
  top: -56px;
  left: 1543px;
  width: 500px;
  height: 500px;
  background: rgba(206, 94, 145, 0.133);
}

.balloon-4 {
  top: 535px;
  left: 1580px;
  width: 650px;
  height: 650px;
  background: rgba(255, 245, 159, 0.33);
}

.balloon-5 {
  top: 1480px;
  left: -130px;
  width: 350px;
  height: 350px;
  background: rgba(255, 245, 159, 0.33);
}

.balloon-6 {
  top: 1700px;
  left: 1000px;
  width: 350px;
  height: 350px;
  background: rgba(142, 202, 25, 0.33);
}

.balloon-7 {
  top: 5499px;
  left: 842px;
  width: 350px;
  height: 350px;
  background: rgba(142, 202, 25, 0.33);
}

.balloon-8 {
  top: 5100px;
  left: -200px;
  width: 600px;
  height: 600px;
  background: rgba(89, 94, 255, 0.133);
}
@keyframes floatOne {
  0% {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}

/* @media (max-width: 757px) {
  .balloon-1 {
    width: 500px;
    height: 500px;
  }
} */

.header-sub-title {
  margin-top: 8px;
}

.heading .container {
  margin: 0 auto !important;
}

.pointer-none {
  pointer-events: none;
}

.display-none {
  display: none !important;
}

.section {
  position: relative;
}

.progress-container {
  z-index: 100;
  width: 100%;
  height: 1px;
  position: fixed;
  top: 0;
}

.progress-bar {
  height: 1px;
  width: 0%;
  background-color: #8eca19;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav-item a.anchor {
  top: -250px;
}

.section .container {
  margin: 160px auto 150px;
}

@media (max-width: 767px) {
  .section .container {
    margin: 100px auto 90px;
  }
}

@media (max-width: 575px) {
  .section .container {
    margin: 50px auto 40px;
  }
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.section-vh {
  height: 100vh;
  min-height: 756px;
}

.flex-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100% !important;
}

.font-bold {
  font-weight: bold;
}

.banner {
  height: 100vh;
}

.banner .center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* @media (max-width: 991px) {
  .banner {
    height: 25vh;
  }
} */

.minigpoolhub-logo-frame a:hover {
  color: #000000 !important;
}

.miningpoolhub-logo {
  display: block;
  color: #000000 !important;
  text-transform: uppercase;
  width: 118px;
  height: 118px;
  padding: 10.55px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: #fff;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
}

.section-wrapper {
}

.next-btn {
  width: 16px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.more-info {
  position: absolute;
  z-index: 15;
  margin-top: 10px;
  visibility: hidden;
}

.more-info.show {
  visibility: visible;
}

.more-info::before {
  top: -15px;
  left: 47%;
  position: absolute;
  content: "";
  border: 8px solid rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  pointer-events: none;
}

.more-info-frame {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(154, 160, 186, 0.1),
    0 0px 7px 0 rgba(166, 173, 200, 0.44);
}

.more {
  margin: 15px auto 0px;
  display: flex;
  opacity: 0.6;
}

.more-text {
  visibility: hidden;
  max-height: 0px;
  transition: 1s linear;
  overflow: hidden;
}

.more-text p {
  text-align: left;
}

.more-img {
  cursor: pointer;
  max-width: unset;
  width: 45px;
  margin: 0 auto;
}

.more-text.show {
  visibility: visible;
  max-height: 500px;
  padding-bottom: 30px;
}

.careers-content {
  position: relative;
}

.careers-content .highlight {
  font-weight: bold;
}

.careers-content .text {
  font-size: 18px;
  font-weight: 400;
  display: contents;
}

.careers-content .keyword {
  margin: 0 80px;
}

@media (max-width: 767px) {
  .careers-content .keyword {
    margin: 0 20px;
  }
}

@media (max-width: 366px) {
  .careers-content .keyword {
    margin: 0 10px;
  }
}

@media (max-width: 330px) {
  .careers-content .keyword {
    margin: 5px 10px;
  }
}

.careers-content .apply-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  flex-direction: column;
}

.apply-btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.apply-btn:hover {
}

.apply-line {
  width: 100px;
  height: 2px;
  margin-top: 10px;
  background: #000000;
  opacity: 0.324;
}

.service-content {
  position: relative;
}

@media (max-width: 575px) {
  .service-content .container {
    padding-top: 40px;
  }
}

.service-content .title {
  font-size: 16px;
  padding-top: 10px;
  line-height: 32px;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .service-content .section-dovewallet .title {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .service-content .title {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 575px) {
  .service-content .title {
    font-size: 14px;
  }

  .more-text p {
    font-size: 14px;
  }
}

.service-content .service-text {
}

.service-content .service-img {
  display: flex;
  justify-content: center;
}

.service-content .service-img-dovewallet {
  /* width: 90%; */
}

@media (min-width: 992px) {
  .service-content .service-img-dovewallet {
    margin-top: 32px;
    width: 83%;
  }
}

@media (max-width: 767px) {
  .service-content .service-img {
    padding: 0px;
  }
}

.service-content .service-img-miningpullhub {
  height: 135px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.service-content .service-text-dovewallet {
  width: 60%;
}

.service-content .service-text-miningpullhub {
  width: 60%;
}

.service-content .section-sub-miningpullhub {
  margin-top: 30px;
  justify-content: space-evenly;
}

.service-content .section-sub-miningpullhub .sub-text {
  font-size: 14px;
}

@media (max-width: 575px) {
  .service-content .section-sub-miningpullhub {
    margin-top: 15px;
  }

  .service-content .section-sub-miningpullhub .sub-text {
    font-size: 12px;
  }
}

.press-content {
  position: relative;
}

.press-content .setction-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

.service-content .section-miningpullhub {
  margin-top: 80px;
}

@media (max-width: 991px) {
  .service-content .service-text {
    margin-top: 30px;
  }

  .service-content .section-miningpullhub {
    margin-top: 80px;
    flex-direction: column-reverse;
  }

  .service-content .service-img-dovewallet {
    width: 75%;
  }

  .service-content .service-img-miningpullhub {
    height: 120px;
  }
}

@media (min-width: 992px) {
  .service-content .section-dovewallet .img-frame {
    position: absolute;
    left: 0;
  }

  .service-content .section-miningpullhub .img-frame {
    position: absolute;
    left: 15px;
  }
}

@media (min-width: 992px) {
  .ko .service-content .section-miningpullhub .title {
    padding-left: 30px;
  }
}
.heading {
  position: relative;
  display: block;
  text-align: center;
}

@media (max-width: 575px) {
  .heading {
    margin-top: 100px;
  }
}

.heading .text {
  /* color: rgb(51, 51, 51, 0.54); */
  font-size: 27px;
}

.heading-line {
  display: block;
  width: 32%;
  height: 1px;
  position: relative;
  background-color: #cbcdd3;
  margin: 0px auto;
  margin-top: 8px;
}

@media (max-width: 575px) {
  .heading-line {
    margin-bottom: 15px;
  }
}

.heading-line::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 20%;
  left: 40%;
  right: 0;
  background-color: #8eca19;
  opacity: 0.5;
}

.logo {
  width: 96px;
}

.history-section {
  position: relative;
}

.history .v-line {
  height: 76%;
  top: 5px;
  position: absolute;
  width: 1px;
  background-color: #b0da5e;
  left: 96px;
  border-radius: 3px;
  margin-top: 14px;
}

.ko .history .v-line {
  height: 75%;
}

.en .history .v-line {
  height: 79%;
}

@media (max-width: 757px) {
  .ko .history .v-line {
    height: 74%;
  }
}

@media (max-width: 575px) {
  .ko .history .v-line {
    height: 72%;
    left: 52px;
  }

  .en .history .v-line {
    height: 77%;
    left: 52px;
  }
}

@media (max-width: 415px) {
  .ko .history .v-line {
    height: 71%;
  }
}

.history .dot {
  background: #b0da5e;
  width: 4px;
  height: 4px;
  border-radius: 12px;
  transform: translate3d(0, -2px, 0);
  left: 94.5px;
  position: absolute;
}

.history .dot.one {
  top: 10px;
}
.history .dot.two {
  top: 0px;
}
.history .dot.three {
  top: -10px;
}

.history .list {
  margin: 80px auto 22px auto;
  position: relative;
  text-align: left;
  display: table;
}

.history .date {
  width: 100px;
  padding-left: 22px;
  margin-right: 22px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #8eca19;
}

.history .date::after {
  content: " ";
  background: #8eca19;
  width: 7px;
  height: 7px;
  border-radius: 12px;
  display: inline-block;
  transform: translate3d(0, -2px, 0);
  margin-top: 5px;
}

.history .sub-date {
  width: 100px;
  padding-left: 22px;
  margin-right: 22px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #8eca19;
}

.history .sub-date::after {
  content: " ";
  background: #b0da5e;
  width: 7px;
  height: 7px;
  border-radius: 12px;
  display: inline-block;
  transform: translate3d(0, -2px, 0);
  margin-top: 5px;
}

.history .item {
  font-size: 16px;
  font-weight: 600;
  margin: 12px auto;
  line-height: 22px;
}

.history .sub-item {
  font-size: 16px;
  font-weight: 600;
  margin: 12px auto;
  line-height: 22px;
}

.history .event {
  display: inline-block;
  vertical-align: top;
}

.history .sub-event {
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
}

.history .img-frame {
  justify-content: center;
}

.history .img-frame img {
  width: 100px;
  border-radius: 3px;
}

.history .img1 {
  margin: 0 8px;
}

.history .img2 {
  margin: 0 8px;
  margin-right: 68px;
}

.history img {
  filter: grayscale(50%);
  cursor: pointer;
}

.history img:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .history .item {
    font-size: 15px;
  }
  .history .sub-item {
    font-size: 15px;
  }
  .history .date {
    padding-left: 0px;
  }
  .history .sub-date {
    padding-left: 0px;
  }

  .history .img2 {
    margin-right: 52px;
  }
}

@media (max-width: 575px) {
  .history .item {
    font-size: 11px;
    margin: 6px auto;
  }

  .history .sub-item {
    font-size: 11px;
    margin: 6px auto;
  }

  .heading-line {
    margin-bottom: 15px;
  }

  .history .dot {
    left: 51px;
  }

  .history .dot.one {
    top: 6px;
  }
  .history .dot.two {
    top: -2px;
  }
  .history .dot.three {
    top: -10px;
  }

  .history .date {
    width: 56px;
    padding-left: 0px;
    margin-right: 4px;
  }

  .history .sub-date {
    width: 56px;
    padding-left: 0px;
    margin-right: 4px;
  }

  .history .img2 {
    margin-right: 8px;
  }
}

@media (max-width: 415px) {
  .history .img2 {
    margin-right: 14px;
  }
}

.gallery-content {
  position: relative;
  width: 100%;
}

.gallery-content .grid {
  display: grid;
  text-align: center;
  margin: 10px 0;
}

.gallery-content .grid .grid-item {
  width: 100%;
  height: 100%;
}

.gallery-content .item1 {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.gallery-content .item2 {
  grid-column: 2;
  grid-row: 1;
}

.gallery-content .item3 {
  grid-column: 3;
  grid-row: 1;
}

.gallery-content .item4 {
  grid-column: 4;
  grid-row: 1;
}

.gallery-content .item5 {
  grid-column: 5;
  grid-row: 1;
}

.gallery-content .item6 {
  grid-column: 6;
  grid-row: 1;
}

.gallery-content .item7 {
  grid-column: 1;
  grid-row: 2;
}

.gallery-content .item8 {
  grid-column: 2;
  grid-row: 2;
}

.gallery-content .item9 {
  grid-column: 3;
  grid-row: 2;
}

.gallery-content .item10 {
  grid-column: 4;
  grid-row: 2;
}

.gallery-content .item11 {
  grid-column: 5;
  grid-row: 2;
}

.gallery-content .item12 {
  grid-column: 6;
  grid-row: 2;
}

@media (max-width: 991px) {
  .gallery-content .item1 {
    grid-column: 1;
    grid-row: 1;
  }

  .gallery-content .item2 {
    grid-column: 2;
    grid-row: 1;
  }

  .gallery-content .item3 {
    grid-column: 3;
    grid-row: 1;
  }

  .gallery-content .item4 {
    grid-column: 4;
    grid-row: 1;
  }

  .gallery-content .item5 {
    grid-column: 1;
    grid-row: 2;
  }

  .gallery-content .item6 {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery-content .item7 {
    grid-column: 3;
    grid-row: 2;
  }

  .gallery-content .item8 {
    grid-column: 4;
    grid-row: 2;
  }

  .gallery-content .item9 {
    grid-column: 1;
    grid-row: 3;
  }

  .gallery-content .item10 {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery-content .item11 {
    grid-column: 3;
    grid-row: 3;
  }

  .gallery-content .item12 {
    grid-column: 4;
    grid-row: 3;
  }
}

.gallery-content .gallery-img {
  cursor: pointer;
}
.gallery-content .gallery-img:hover {
  opacity: 0.7;
}

.contact-content {
  position: relative;
}

.back-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  pointer-events: none;
}

.back-modal.on {
  pointer-events: unset;
}

.map-frame {
  text-align: center;
  position: relative;
}

.map {
  width: 100%;
}

.footer .lang {
  font-size: 12px;
}

.footer .logo {
  margin-left: -6px;
}

.footer .lang-select {
  position: relative;
}

.footer .lang-select::after {
  content: "";
  width: 0;
  height: 0;
  opacity: 0.7;
  position: absolute;
  top: 11px;
  right: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #6a6972;
}

.footer .lang-name {
  width: 65px;
  padding: 1px 3px;
  font-size: 11px;
  margin-left: 4px;
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.footer .information {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
}

/* ball */

.ball {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 268px;
  right: 207px;
  margin: 0;
  border-radius: 50%;
  background: #b0da5e;
}
.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle at 50% 120%,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  z-index: 2;
}
.ball:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8) 14%,
    rgba(255, 255, 255, 0) 24%
  );
  transform: translateX(-3px) translateY(-3px) skewX(-20deg);
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  transform: rotateX(0deg) rotateY(2deg) translateZ(-150px);
  z-index: -1;
}

@media (min-width: 1200px) {
  .pos1 {
    top: 206px;
    right: 154px;
  }
  .pos2 {
    top: 144px;
    left: 508px;
  }
  .pos3 {
    top: 162px;
    left: 264px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .pos1 {
    top: 172px;
    right: 126px;
  }
  .pos2 {
    top: 122px;
    left: 426px;
  }
  .pos3 {
    top: 136px;
    left: 220px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .pos1 {
    width: 8px;
    height: 8px;
    top: 126px;
    right: 94px;
  }
  .pos2 {
    width: 8px;
    height: 8px;
    top: 88px;
    left: 314px;
  }
  .pos3 {
    width: 8px;
    height: 8px;
    top: 102px;
    left: 164px;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .pos1 {
    width: 8px;
    height: 8px;
    top: 92px;
    right: 70px;
  }
  .pos2 {
    width: 8px;
    height: 8px;
    top: 66px;
    left: 230px;
  }
  .pos3 {
    width: 8px;
    height: 8px;
    top: 74px;
    left: 120px;
  }
}

@media (max-width: 575px) {
  .pos1 {
    width: 8px;
    height: 8px;
    top: 33%;
    right: 14%;
  }
  .pos2 {
    width: 8px;
    height: 8px;
    top: 23%;
    left: 45%;
  }
  .pos3 {
    width: 8px;
    height: 8px;
    top: 27%;
    left: 23%;
  }
}

.modal-img {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-img.show {
  display: block;
}

.modal-img-content {
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: block;
  width: 88%;
  max-height: 800px;
  max-width: 700px;
}

.image-modal-prev {
  position: absolute;
  cursor: pointer;
  transform: translate(0, -50%);
  left: 10%;
  top: 50%;
  width: 48px;
  z-index: 2;
}

.image-modal-next {
  position: absolute;
  cursor: pointer;
  transform: translate(0, -50%);
  right: 10%;
  top: 50%;
  width: 48px;
  z-index: 2;
}

@media (max-width: 991px) {
  .image-modal-prev {
    left: 0%;
  }

  .image-modal-next {
    right: 0%;
  }
}
